body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/**/
.jumbotron{
    width: 200px;
    height: 30vh;
}

.jumbotron2 {
    display: inline-block;
}

.container {
   /* display: inline;*/
}

.panel-title{
    font-size: x-large;
}
/*.dropdownlistfor{
    color: black;
}*/
/*
.tr{
    color: dimgray;
}*/

/*Space between items*/
/*.model-name {
    margin-right: 30px;
}

.model-value {
    display: inline-block;
}*/

/*.span {
    word-spacing: 10px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-group-lg{
    padding-bottom: 3px;
    white-space: normal;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
    padding-bottom: 4px;
}*/


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
