@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h3>Thanks for visiting! To contact the owner of this site, please reach out below.</h3>

<div >
    <form action="https://formspree.io/xgepekjv" method="POST">
        <label>
            Your name:
            <input type="name">
        </label>
        <label>
            Your email address:
            <input type="text" name="_replyto">
        </label>
        <label>
            Your message:
            <textarea name="message"></textarea>
        </label>

        <button type="submit">Send</button>
    </form>
</div>
<address>
    @*<h4>Erica Terkhorn</h4>
    <h4>erica.terkhorn@gmail.com</h4>
    https://www.linkedin.com/in/erica-terkhorn-018a6414/
    <br />
    <br />
    https://github.com/ericaterkhorn*@
</address>
